.detail__body{
    display: flex;
    justify-content: center;
}

.card__producto {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 1rem;
    border: solid 2px grey;
}
.body__cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: grey;
    align-items: center;
    color: white;
}
.sinStock {
    position: absolute;
    font-size: 1.5rem;
}
.detail__botones {
    display: flex;
    width: 70%;
    justify-content: space-around;
}