.card__producto {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 1rem;
    border: solid 2px grey;
}
.body__cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: grey;
    align-items: center;
    color: white;
}
.sinStock {
    position: absolute;
    font-size: 1.5rem;
}

@media (max-width: 970px) { 
    .card__producto {
        width: 90%;
    }
}
